@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-mainFont font-medium;
}

input {
  @apply block border-none outline-none rounded-sm;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
